<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>

<style>
h1 {
    display: flex;
    justify-content: center;
}

#theseboxes {
    display: block;
    justify-content: center;
}

.boxes{
    display: inline-block;
    width:200px;
    height:200px;
    background-color: salmon;
    margin: 20px;
}
</style>
</head>
<body>
    <h1>Welcome</h1>
    <div id="theseboxes">
    {% for x in range(0, num): %}
    <div class='boxes'></div>
    {% endfor %}
    </div>
</body>
</html>